@import '../../../styles/variables.module.scss';

.display {
    font-weight: 800;
    text-align: right;
    padding: 4px 8px;
    box-sizing: border-box;
    line-height: 44px;
    background-color: $grey-light;
    border-radius: 6px;
    font-size: 19px;
    width: 100%;
    &_null {
        font-size: 36px;
    }
}