.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    box-sizing: border-box;
    &__switcher {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    &__calculations {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 56px;
        box-sizing: border-box;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}